############################
# R
############################
.Rhistory
.RData
.Rproj.user/

############################
# R objects
############################
*.Rdata
*.rds

############################
# Single-cell / bioinfo data
############################
*.mtx
*.mtx.gz
*.h5
*.h5ad
*.loom

############################
# GEO / raw data
############################
*.tar
*.gz
*.zip

############################
# Output / temp
############################
data/
input/
output/
results/

############################
# OS / editor
############################
.DS_Store
Thumbs.db
.vscode/